﻿@page
@model Accelist.News.Web.Pages.Auth.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post" class="row">
    <div class="col-md-12">
        <div class="row form-group">
            <label asp-for="LoginInfo.Email" class="col-md-3 col-form-label">
            </label>
            <div class="col-md-9">
                <input asp-for="LoginInfo.Email" class="form-control" />
                <span asp-validation-for="LoginInfo.Email" class="field-validation-error">
                </span>
            </div>
        </div>

        <div class="row form-group">
            <label asp-for="LoginInfo.Password" class="col-md-3 col-form-label">
            </label>
            <div class="col-md-9">
                <input asp-for="LoginInfo.Password" type="password" class="form-control" />
                <span asp-validation-for="LoginInfo.Password" class="field-validation-error">
                </span>
            </div>
        </div>

        <div class="row text-right">
            <div class="col-md-12">
                <button type="submit" class="btn btn-block btn-primary">
                    Login
                </button>
            </div>
        </div>
    </div>
</form>