﻿@page
@model Accelist.News.Web.Pages.News.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New News</h1>

@{
    var message = TempData["Message"] as string;
    if (string.IsNullOrEmpty(message) == false)
    {
        <div class="alert alert-info">
            @message
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="row form-group">
                <label asp-for="NewNews.Title" class="col-md-3 col-form-label">
                </label>
                <div class="col-md-9">
                    <input asp-for="NewNews.Title" class="form-control" />
                    <span asp-validation-for="NewNews.Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <label asp-for="NewNews.AuthorId" class="col-md-3 col-form-label"></label>
                <div class="col-md-9">
                    <select asp-for="NewNews.AuthorId" asp-items="Model.Authors" class="form-control"></select>
                    <span asp-validation-for="NewNews.AuthorId" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <label for="NewNews.Content" class="col-md-3 col-form-label">
                    Content
                </label>
                <div class="col-md-9">
                    <rich-text-box name="NewNews.Content"></rich-text-box>
                </div>
            </div>

            <div class="row text-right">
                <div class="col-md-9 offset-3">
                    <button class="btn btn-block btn-primary"
                            type="submit">
                        Submit
                    </button>
                </div>
            </div>
            
        </form>
    </div>
</div>