﻿@page
@model Accelist.News.Web.Pages.News.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>News List</h1>

<div class="row mb-3">
    <div class="col-md-12 text-right">
        <a asp-page="./Create" class="btn btn-primary">
            Create
        </a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                A Good Search Panel Design
            </div>
            <div class="card-body">
                @* If there isn no 'action' attribute in the 'form' element, that form will always look up for the same URL route as the page's URL route *@
                <form method="get">
                    <div class="row form-group">
                        <label asp-for="Title" class="col-md-3 col-form-label">
                        </label>
                        <div class="col-md-9">
                            <input asp-for="Title" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <label asp-for="NewsContent" class="col-md-3 col-form-label">
                        </label>
                        <div class="col-md-9">
                            <textarea asp-for="NewsContent" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-info">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>
                            <a asp-page="./Index"
                               asp-route-OrderState="@Model.TitleSort"
                               asp-route-currentAuthorNameFilter="@Model.TitleSort">
                                Title
                            </a>
                        </th>
                        <th>
                            <a asp-page="./Index"
                               asp-route-OrderState="@Model.TitleSort"
                               asp-route-currentAuthorNameFilter="@Model.TitleSort">
                                Content
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 1;
                        foreach (var news in Model.NewsList)
                        {
                            // We have to append the single quotations marks so v-html will render the HTML content.
                            // The single quotations marks can be provided from the service method too.
                            var content = $"'{news.Content}'";
                            <tr>
                                <td>@index</td>
                                <td>@news.Title</td>
                                <td v-html="@content"></td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nav>
            <ul class="pagination justify-content-end">
                @{
                    // Prepare the CSS class for previous and next buttons case.
                    var prevDisabled = Model.NewsList.HasPreviousPage == false ? "disabled" : "";
                    var nextDisabled = !Model.NewsList.HasNextPage ? "disabled" : "";
                }

                <li class="page-item item">
                    <a asp-page="./Index"
                       asp-route-OrderState="@Model.OrderState"
                       asp-route-PageIndex="@(Model.PageIndex - 1)"
                       asp-route-CurrentTitleFilter="@Model.CurrentTitleFilter"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                </li>

                @{
                    for (var i = 1; i <= Model.TotalPage; i++)
                    {
                        var activeClass = "";
                        if (Model.PageIndex == i)
                        {
                            activeClass = "active";
                        }

                        <li class="page-item @activeClass">
                            <a asp-route-OrderState="@Model.OrderState"
                               asp-route-Title="@Model.Title"
                               asp-route-CurrentTitleFilter="@Model.CurrentTitleFilter"
                               asp-route-PageIndex="@i"
                               class="page-link">
                                @i
                            </a>
                        </li>
                    }
                }

                <li>
                    <a asp-page="./Index"
                       asp-route-OrderState="@Model.OrderState"
                       asp-route-PageIndex="@(Model.PageIndex + 1)"
                       asp-route-CurrentTitleFilter="@Model.CurrentTitleFilter"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>