<template>
    <div class="card mb-2">
        <div class="card-body">
            <div class="card-title">
                <h2>{{ getNews(itemIndex).title }}</h2>
            </div>
            <div class="card-text">
                <div v-html="getNews(itemIndex).content">
                </div>
            </div>
            <div class="text-right">
                {{ getNews(itemIndex).timestamp | formatDate }}
            </div>
        </div>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import newsSingleton from '../services/NewsService';

    @Component({
        props: ["title", "content", "itemIndex"]
    })
    export default class NewsList extends Vue {
        title: string;
        content: string;

        itemIndex: number;

        newsSingleton = newsSingleton;

        getNews(index: number) {
            let news = this.newsSingleton.newsList[index];

            return news;
        }
    }
</script>