<template>
    <div>
        <news-list v-for="(news, index) in newsSingleton.newsList" :key="index" :item-index="index"></news-list>
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import newsSingleton from '../services/NewsService';

    @Component({
        props: ["itemPerView", "url"],
        created: async function (this: NewsContainer) {
            await this.newsSingleton.getNewsList(this.url);
        }
    })
    export default class NewsContainer extends Vue {
        /**
         * TODO: Implement pagination.
         * */
        itemPerView: number;
        url: string;

        newsSingleton = newsSingleton;
    }
</script>