﻿<template>
    <div class="rtb">
        <editor-menu-bar :editor="editor" v-slot="{ commands, isActive }">
            <div class="rtb-menu-bar">
                <button type="button"
                        :class="{ 'active': isActive.bold() }"
                        @click="commands.bold">
                    <i class="fas fa-bold"></i>
                </button>
                <button type="button"
                        :class="{ 'active': isActive.italic() }"
                        @click="commands.italic">
                    <i class="fas fa-italic"></i>
                </button>
            </div>
        </editor-menu-bar>
        <editor-content :editor="editor">
        </editor-content>

        <!--<button type="button"
                @click="parseContent()"
                class="btn btn-primary">
            Parse
        </button>
        <div class="card">
            {{ parsedContent }}
        </div>
        <div class="card">
            {{ parsedContentAsJson }}
        </div>-->
        <input v-model="htmlContent"
                  :name="name"
                  class="text-hide" />
    </div>
</template>
<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { Editor } from 'tiptap';
    import {
        Blockquote,
        Bold,
        Italic
    } from 'tiptap-extensions';

    @Component({
        props: ['name']
    })
    export default class RichTextBox extends Vue {
        content: string = '';

        name: string;

        editor: Editor = new Editor({
            onUpdate: this.getContentAsHtml,
            extensions: [
                new Blockquote(),
                new Bold(),
                new Italic()
            ]
        });

        htmlContent = '';

        parsedContent = '';
        parsedContentAsJson = {};

        parseContent() {
            this.parsedContent = this.editor.getHTML();
            this.parsedContentAsJson = this.editor.getJSON();
        }

        getContentAsHtml() {
            this.htmlContent = this.editor.getHTML();
        }
    }
</script>