﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Accelist News</h1>
    <h2>
        Recent News:
    </h2>
    <div class="row text-left">
        <div class="col-md-12">
            <news-container url="api/v1/news"></news-container>
        </div>
    </div>
</div>
