﻿@page
@model Accelist.News.Web.Pages.Authors.CreateModel
@{
    ViewData["Title"] = "Create New Author";
}

<h1>Create New Author</h1>

@{ 
    var message = TempData["Message"] as string;
    if (string.IsNullOrEmpty(message) == false)
    {
        <div class="alert alert-info">
            @message
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div class="row form-group">
                <label asp-for="NewAuthor.Name" class="col-md-3 col-form-label">
                </label>
                <div class="col-md-9">
                    <input asp-for="NewAuthor.Name" class="form-control" />
                    <span asp-validation-for="NewAuthor.Name" class="text-danger"></span>
                </div>
            </div>

            <button class="btn btn-primary"
                    type="submit">
                Submit
            </button>
        </form>
    </div>
</div>