﻿@page
@model Accelist.News.Web.Pages.Authors.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Author List</h1>

<div class="row mb-3">
    <div class="col-md-12 text-right">
        <a asp-page="./Create" class="btn btn-primary">
            Create
        </a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                A Good Search Panel Design
            </div>
            <div class="card-body">
                @* If there isn no 'action' attribute in the 'form' element, that form will always look up for the same URL route as the page's URL route *@
                <form method="get">
                    <div class="row form-group">
                        <label asp-for="AuthorName" class="col-md-3 col-form-label">

                        </label>
                        <div class="col-md-9">
                            <input asp-for="AuthorName" class="form-control" />
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-info">
                            Search
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>
                            @*
                                The asp-route-{value} attribute enables a wildcard route prefix.
                                Any value occupying the {value} placeholder is interpreted as a potential route parameter.
                                If a default route isn't found, this route prefix is appended to the generated href attribute as a request parameter and value.
                                Otherwise, it's substituted in the route template.
                                Reference: https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/built-in/anchor-tag-helper?view=aspnetcore-2.2#asp-route-value
                            *@
                            <a asp-page="./Index"
                               asp-route-OrderState="@Model.AuthorNameSort"
                               asp-route-currentAuthorNameFilter="@Model.CurrentAuthorNameFilter">
                                Name
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 1;
                        foreach (var author in Model.Authors)
                        {
                            <tr>
                                <td>@index</td>
                                <td>@author.Name</td>
                            </tr>
                            index++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <nav>
            <ul class="pagination justify-content-end">
                @{
                    // Prepare the CSS class for previous and next buttons case.
                    var prevDisabled = Model.Authors.HasPreviousPage == false ? "disabled" : "";
                    var nextDisabled = !Model.Authors.HasNextPage ? "disabled" : "";
                }

                <li class="page-item item">
                    <a asp-page="./Index"
                       asp-route-OrderState="@Model.OrderState"
                       asp-route-PageIndex="@(Model.PageIndex - 1)"
                       asp-route-CurrentAuthorNameFilter="@Model.CurrentAuthorNameFilter"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                </li>

                @{
                    for (var i = 1; i <= Model.TotalPage; i++)
                    {
                        var activeClass = "";
                        if (Model.PageIndex == i)
                        {
                            activeClass = "active";
                        }

                        <li class="page-item @activeClass">
                            <a asp-route-OrderState="@Model.OrderState"
                               asp-route-AuthorName="@Model.AuthorName"
                               asp-route-CurrentAuthorNameFilter="@Model.CurrentAuthorNameFilter"
                               asp-route-PageIndex="@i"
                               class="page-link">
                                @i
                            </a>
                        </li>
                    }
                }

                <li>
                    <a asp-page="./Index"
                       asp-route-OrderState="@Model.OrderState"
                       asp-route-PageIndex="@(Model.PageIndex + 1)"
                       asp-route-CurrentAuthorNameFilter="@Model.CurrentAuthorNameFilter"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>