﻿body {
    .rtb {
        display: block;
        border-style: solid;
        border-radius: 4px 4px;
        border-width: 1px;
        border-color: #ced4da;
        padding: 0.375em 0.75em;

        .rtb-menu-bar {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            margin-top: 6px;
            margin-bottom: 8px;

            button {
                background-color: white;
                border-style: solid;
                border-width: 1px;
                border-color: lightgrey;
                border-radius: 4px 4px;
                min-width: 32px;
                margin-bottom: 8px;

                &:hover {
                    background-color: lightgrey;
                }
            }

            button.active {
                background-color: lightgrey;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}
